@{
    ViewBag.Title = "Página Inicial";
}

<div id="info">
    <a href="@Url.Action("Index", "Home")">
        <div id="logo">


        </div>
    </a>

<br /><br /><br />
    <h1>Bem vindo!</h1>
    <p>Os Restaurantes do grupo Lucas B. oferecem ambientes lindos, riqueza na flora natural, hípica e atrações para as crianças, fábrica de doces, linguiçário próprio, loja de artesanatos de todo Brasil, e claro, uma deliciosa comida servida por pratos a la carte e Buffet de doces.</p>
    
    <div id="contato">
        <h1>Reservas</h1>
        <p>Cel: (34) 99192-8404<br />
        E-mail: borbamultinivel@gmail.com</p>
        <div class="tracoPeq"></div>
        <h1>Horário de funcionamento</h1>
        <p>Aberto todos os dias das 21:00 até o último cliente.<br />
        Você sabe onde a festa está rolando!</p>
    </div>
    <div class="tracoPeq" style="width:15em; margin-bottom:3em;"></div>
    <p>Localização:<br />
    Av. Cedro, 999<br />
    Patos de Minas, MG 12345-678
    </p>
</div>